@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@font-face {
  font-family: "Eurostile Extended";
  src: url("../src/assets/font-family/eurostile-extended-cufonfonts/EurostileBQ-BoldExtended.otf");
}

:root {
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 16px;
  --fs-xl: 26.4px;
  --fs-2xl: 20px;
  --fs-3xl: 22px;
  --fs-4xl: 24px;

  --color-yellow: #fce500;
  --color-grey: #f2f2f3;
  --color-darkgrey: #999999;
  --color-lightgrey: #B7B7B7;
}

.container-2 {
  max-width: 1164px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.color-lightgrey {
  color: var(--color-lightgrey);
}

.color-darkgrey {
  color: var(--color-darkgrey);
}

.color-yellow {
  color: var(--color-yellow);
}

.color-grey {
  color: var(--color-grey);
}

.text-14 {
  font-size: var(--fs-sm);
}

.text-16 {
  font-size: var(--fs-md);
}

.text-18 {
  font-size: var(--fs-lg);
}

.text-26 {
  font-size: var(--fs-xl);
}

.text-30 {
  font-size: var(--fs-2xl);
}

.text-45 {
  font-size: var(--fs-3xl);
}

.text-47 {
  font-size: var(--fs-4xl);
}

.lh-14 {
  line-height: 14px;
}

.lh-59 {
  line-height: 30.4px;
}

.lh-62 {
  line-height: 35.04px;
}

.lh-28 {
  line-height: 28.8px;
}

.lh-37 {
  line-height: 30.5px;
}

.lh-21 {
  line-height: 21.86px;
}

.lh-49 {
  line-height: 33.65px;
}

.lh-33 {
  line-height: 33px;
}

.lh-16 {
  line-height: 16px;
}

.lh-23 {
  line-height: 23.31px;
}

.ff-manrope {
  font-family: "Manrope", sans-serif;
}

.ff-euro {
  font-family: "Eurostile Extended";
}

@media (min-width:576px) {
  :root {
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 26.4px;
    --fs-2xl: 25px;
    --fs-3xl: 28px;
    --fs-4xl: 30px;



  }

  .color-yellow {
    color: var(--color-yellow);
  }

  .color-grey {
    color: var(--color-grey);
  }

  .text-14 {
    font-size: var(--fs-sm);
  }

  .text-16 {
    font-size: var(--fs-md);
  }

  .text-18 {
    font-size: var(--fs-lg);
  }

  .text-26 {
    font-size: var(--fs-xl);
  }

  .text-30 {
    font-size: var(--fs-2xl);
  }

  .text-45 {
    font-size: var(--fs-3xl);
  }

  .text-47 {
    font-size: var(--fs-4xl);
  }

  .lh-14 {
    line-height: 14px;
  }

  .lh-59 {
    line-height: 48.4px;
  }

  .lh-62 {
    line-height: 50.04px;
  }

  .lh-28 {
    line-height: 28.8px;
  }

  .lh-37 {
    line-height: 37.5px;
  }

  .lh-21 {
    line-height: 21.86px;
  }

  .lh-49 {
    line-height: 49.65px;
  }

  .lh-33 {
    line-height: 33px;
  }

  .lh-16 {
    line-height: 16px;
  }

  .lh-23 {
    line-height: 23.31px;
  }

}

@media (min-width:768px) {
  :root {
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 26.4px;
    --fs-2xl: 20px;
    --fs-3xl: 28px;
    --fs-4xl: 30px;



  }

  .color-yellow {
    color: var(--color-yellow);
  }

  .color-grey {
    color: var(--color-grey);
  }

  .text-14 {
    font-size: var(--fs-sm);
  }

  .text-16 {
    font-size: var(--fs-md);
  }

  .text-18 {
    font-size: var(--fs-lg);
  }

  .text-26 {
    font-size: var(--fs-xl);
  }

  .text-30 {
    font-size: var(--fs-2xl);
  }

  .text-45 {
    font-size: var(--fs-3xl);
  }

  .text-47 {
    font-size: var(--fs-4xl);
  }

  .lh-14 {
    line-height: 14px;
  }

  .lh-59 {
    line-height: 45.4px;
  }

  .lh-62 {
    line-height: 46.04px;
  }

  .lh-28 {
    line-height: 28.8px;
  }

  .lh-37 {
    line-height: 37.5px;
  }

  .lh-21 {
    line-height: 21.86px;
  }

  .lh-49 {
    line-height: 49.65px;
  }

  .lh-33 {
    line-height: 33px;
  }

  .lh-16 {
    line-height: 16px;
  }

  .lh-23 {
    line-height: 23.31px;
  }

}

@media (min-width:992px) {
  :root {
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 26.4px;
    --fs-2xl: 26px;
    --fs-3xl: 41px;
    --fs-4xl: 47px;



  }

  .color-yellow {
    color: var(--color-yellow);
  }

  .color-grey {
    color: var(--color-grey);
  }

  .text-14 {
    font-size: var(--fs-sm);
  }

  .text-16 {
    font-size: var(--fs-md);
  }

  .text-18 {
    font-size: var(--fs-lg);
  }

  .text-26 {
    font-size: var(--fs-xl);
  }

  .text-30 {
    font-size: var(--fs-2xl);
  }

  .text-45 {
    font-size: var(--fs-3xl);
  }

  .text-47 {
    font-size: var(--fs-4xl);
  }

  .lh-14 {
    line-height: 14px;
  }

  .lh-59 {
    line-height: 59.4px;
  }

  .lh-62 {
    line-height: 62.04px;
  }

  .lh-28 {
    line-height: 28.8px;
  }

  .lh-37 {
    line-height: 37.5px;
  }

  .lh-21 {
    line-height: 21.86px;
  }

  .lh-49 {
    line-height: 49.65px;
  }

  .lh-33 {
    line-height: 33px;
  }

  .lh-16 {
    line-height: 16px;
  }

  .lh-23 {
    line-height: 23.31px;
  }

}

@media (min-width:1024px) {
  :root {
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 26.4px;
    --fs-2xl: 30px;
    --fs-3xl: 45px;
    --fs-4xl: 47px;



  }

  .color-yellow {
    color: var(--color-yellow);
  }

  .color-grey {
    color: var(--color-grey);
  }

  .text-14 {
    font-size: var(--fs-sm);
  }

  .text-16 {
    font-size: var(--fs-md);
  }

  .text-18 {
    font-size: var(--fs-lg);
  }

  .text-26 {
    font-size: var(--fs-xl);
  }

  .text-30 {
    font-size: var(--fs-2xl);
  }

  .text-45 {
    font-size: var(--fs-3xl);
  }

  .text-47 {
    font-size: var(--fs-4xl);
  }

  .lh-14 {
    line-height: 14px;
  }

  .lh-59 {
    line-height: 59.4px;
  }

  .lh-62 {
    line-height: 62.04px;
  }

  .lh-28 {
    line-height: 28.8px;
  }

  .lh-37 {
    line-height: 37.5px;
  }

  .lh-21 {
    line-height: 21.86px;
  }

  .lh-49 {
    line-height: 49.65px;
  }

  .lh-33 {
    line-height: 33px;
  }

  .lh-16 {
    line-height: 16px;
  }

  .lh-23 {
    line-height: 23.31px;
  }

}

@media (min-width:1200px) {
  :root {
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 26.4px;
    --fs-2xl: 30px;
    --fs-3xl: 45px;
    --fs-4xl: 47px;



  }

  .color-yellow {
    color: var(--color-yellow);
  }

  .color-grey {
    color: var(--color-grey);
  }

  .text-14 {
    font-size: var(--fs-sm);
  }

  .text-16 {
    font-size: var(--fs-md);
  }

  .text-18 {
    font-size: var(--fs-lg);
  }

  .text-26 {
    font-size: var(--fs-xl);
  }

  .text-30 {
    font-size: var(--fs-2xl);
  }

  .text-45 {
    font-size: var(--fs-3xl);
  }

  .text-47 {
    font-size: var(--fs-4xl);
  }

  .lh-14 {
    line-height: 14px;
  }

  .lh-59 {
    line-height: 59.4px;
  }

  .lh-62 {
    line-height: 62.04px;
  }

  .lh-28 {
    line-height: 28.8px;
  }

  .lh-37 {
    line-height: 37.5px;
  }

  .lh-21 {
    line-height: 21.86px;
  }

  .lh-49 {
    line-height: 49.65px;
  }

  .lh-33 {
    line-height: 33px;
  }

  .lh-16 {
    line-height: 16px;
  }

  .lh-23 {
    line-height: 23.31px;
  }

}